<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.just.math_world.dao.WorldFollowMapper" >
  <resultMap id="BaseResultMap" type="com.just.math_world.entity.WorldFollow" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="followed_username" property="followedUsername" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, followed_username, created_at, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from world_follow
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectall" resultType="com.just.math_world.entity.WorldFollow">
    select
    <include refid="Base_Column_List"/>
    from  world_follow
  </select>
  <select id="selectbyusername" resultType="com.just.math_world.entity.WorldFollow" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from  world_follow
    where username = ${name}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from world_follow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.just.math_world.entity.WorldFollow" >
    insert into world_follow (id, username, followed_username, 
      created_at, status)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{followedUsername,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=DATE}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.just.math_world.entity.WorldFollow" >
    insert into world_follow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="followedUsername != null" >
        followed_username,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="followedUsername != null" >
        #{followedUsername,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.just.math_world.entity.WorldFollow" >
    update world_follow
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="followedUsername != null" >
        followed_username = #{followedUsername,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=DATE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.just.math_world.entity.WorldFollow" >
    update world_follow
    set username = #{username,jdbcType=VARCHAR},
      followed_username = #{followedUsername,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=DATE},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>