<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数学建模</title>
    <link rel="stylesheet" href="/src/main/webapp/css/main.css" type="text/css">
</head>
<body>
<div class="mymath-container">
    <!--background-->
    <img src="/src/main/webapp/img/database-bcg.png" class="worldbcg" alt="">
    <!--导航栏-->
    <ul class="mymathnav">
        <li class="mymathnav">
            <a class="nava" href="/src/main/webapp/WEB-INF/view/index.jsp">
                <img src="/src/main/webapp/img/exe-home.png" alt="" class="navimg-mm navimg1-mm">主页
            </a>
        </li>
        <li class="mymathnav">
            <a class="nava" href="/src/main/webapp/WEB-INF/view/ti.jsp">
                <img src="/src/main/webapp/img/exe-exe.png" alt="" class="navimg-mm navimg2-mm">难题突破
            </a>
        </li>
        <li class="mymathnav">
            <a class="nava" href="/s
            rc/main/webapp/WEB-INF/view/MathModel.html">
                <img src="/src/main/webapp/img/exe-db.png" alt="" class="navimg-mm navimg3-mm">数学建模
            </a>
        </li>
    </ul>
        <!--主体部分-->
        <div class="mymathmain" style="top:10px;height: 710px;">




        </div>
</div>
</body>
</html>
