*{
margin:0;
padding:0;
}
canvas
{
margin:100px auto;
display:block;
box-shadow:0px 0px 10px #000;
border:1px solid #000;
position:absolute;
left:350;
}

#sp
{
	color:#123456;
	font-family:"Times New Roman",Times,serif;
	font-size:30px;
	text-shadow:5px 5px 5px #321456;
	position:absolute;
	left:430px;
	top:50px;
	}
.button2 { 
display: inline-block; 
zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */ 
*display: inline; 
vertical-align: baseline; 
margin: 0 2px; 
outline: none; 
cursor: pointer; 
text-align: center; 
text-decoration: none; 
font: 14px/100% Arial, Helvetica, sans-serif; 
padding: .5em 2em .55em; 
text-shadow: 0 1px 1px rgba(0,0,0,.3); 
-webkit-border-radius: .5em; 
-moz-border-radius: .5em; 
border-radius: .5em; 
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); 
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2); 
box-shadow: 0 1px 2px rgba(0,0,0,.2); 
position:relative;
left:800px;
top:500px;
} 

.online
{           
	position:absolute;
	left:600px;
	top:260px;
	
}
.canvasplace
{
	position:absolute;
	left:550px;
	top:150px;
}
.biaoti
{
	position:absolute;
	left:660px;
	top:190px;
}